/* Общие файлы
 */

/* хедер для всех страниц */

/*------------------- Footer for all */

/* ----------------Portfolio */
/* ----------------кнопки навигации */

/* ------------ Иконки Примеры работ */

/* Index */
/* раздел Эффективное решение */

/* раздел преимущества */

/* раздел Чем мы занимаемся */

/* раздел Команда */

/*----------- постоянные клиенты */

/* ---------Модальное окнок--------- */

/* .modal-check-text::before {
  content: "";
  width: 15px;
  height: 15px;
  border: 2px solid var(--link-color);
  display: block;
  border-radius: 2px;
  margin-right: 8px;
}
.modal-check:checked + .modal-check-text::before {
  background-image: url(../Images/icon-check.svg);
  border: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: calc();
} */
