/* -----------MAIN NAV------------ */
.main-nav,
.main-div {
  display: flex;
  align-items: center;
}

.page-header {
  background: var(--full-wight);
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: "Raleway";
  font-style: normal;

  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  & span {
    color: var(--first-3-logo-color);
  }
}
.logo-header {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 26px;
  color: var(--full-black);
}

.header-nav {
  list-style-type: none;

  display: flex;
  margin-left: 95px;
}
.header-nav .header-nav-item + .header-nav-item {
  margin-left: 50px;
}

.header-nav-link {
  display: block;
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--link-color);
  font-style: normal;
  padding-top: 15px;
  padding-bottom: 15px;

  position: relative;

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  &:hover,
  &:focus,
  &:active {
    color: var(--active-link-color);
  }
}

.header-nav-item {
  & .active-page {
    color: var(--active-link-color);
  }
}
.header-nav-item {
  &.current {
    &::after {
      content: " ";
      position: absolute;
      width: 100%;
      height: 4px;
      border-radius: 3px;
      background-color: var(--active-link-color);
      left: 0%;
      bottom: -18px;
    }
  }
}
/* ---------------CONTACTS header------------ */
.header-contacts {
  display: flex;
  margin-left: auto;

  list-style-type: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.contact-icon {
  margin-right: 10px;
  fill: var(--icon-color);

  display: block;

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.header-contacts .header-contacts-list + .header-contacts-list {
  margin-left: 30px;
}

.header-contacts-link {
  color: var(--link-contacts-color);
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: flex;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  &:hover,
  &:focus {
    color: var(--active-link-color);
    & .contact-icon {
      fill: var(--active-link-color);
    }
  }
}
