.benefits {
  padding-top: 95px;
  padding-bottom: 95px;
}

.benefits-list {
  list-style-type: none;
  display: flex;
}
.benefits-list .benefits-list__card + .benefits-list__card {
  margin-left: 30px;
}
.benefits-list__container {
  width: 270px;
  height: 120px;
  background-color: var(--background-color-bottum);
  background-size: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 30px;
}

.benefits-list__card {
  width: 270px;
}

.benefits__title {
  color: var(--link-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.benefits__text {
  color: var(--link-contacts-color);
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-top: 10px;
}
